watchgod>=0.6
aiohttp>=3.6.3
Jinja2>=2.11.2
dpytest>=0.0.22
WeasyPrint>=52.2
pytz>=2020.4
pdfkit>=0.6.1
async_property>=0.2.1
fuzzywuzzy>=0.18.0
discord>=1.0.1
gidappdata>=0.1.1
gidlogger>=0.1.3
Pillow>=8.0.1
PyQt5>=5.15.2
python-dotenv>=0.15.0
