include LICENSE
graft antipetros_discordbot/init_userdata/data_pack
prune antipetros_discordbot/logs
prune antipetros_discordbot/temp
prune data_pack/json_data
prune data_pack/archive
global-exclude *.db
global-exclude *.env
exclude dev.trigger
exclude token.pickle
exclude oauth2_google_credentials.json

