graft antipetros_discordbot
prune antipetros_discordbot/logs
include LICENSE
prune data_pack/json_data
prune data_pack/archive
global-exclude *.db
global-exclude *.env
global-exclude dev.trigger
global-exclude token.pickle
global-exclude oauth2_google_credentials.json
prune temp
