# region [Imports]

# * Standard Library Imports -->
import gc
import os
import re
import sys
import json
import lzma
import time
import queue
import logging
import platform
import subprocess
from enum import Enum, Flag, auto
from time import sleep
from pprint import pprint, pformat
from typing import Union
from datetime import tzinfo, datetime, timezone, timedelta
from functools import wraps, lru_cache, singledispatch, total_ordering, partial
from contextlib import contextmanager
from collections import Counter, ChainMap, deque, namedtuple, defaultdict
from multiprocessing import Pool
from concurrent.futures import ThreadPoolExecutor, ProcessPoolExecutor
from tempfile import TemporaryDirectory
from urllib.parse import urlparse
import asyncio
from concurrent.futures import ThreadPoolExecutor
import unicodedata
from io import BytesIO

# * Third Party Imports -->
# import requests
# import pyperclip
# import matplotlib.pyplot as plt
# from bs4 import BeautifulSoup
# from dotenv import load_dotenv
# from github import Github, GithubException
# from jinja2 import BaseLoader, Environment
# from natsort import natsorted
# from fuzzywuzzy import fuzz, process
import aiohttp
import discord
from discord.ext import tasks, commands
from async_property import async_property

# * Gid Imports -->
import gidlogger as glog
from antipetros_discordbot.utility.gidtools_functions import pathmaker, readit, readbin, linereadit, writeit, writebin, appendwriteit, loadjson, writejson, pickleit, get_pickled, clearit
from antipetros_discordbot.data.config.config_singleton import BASE_CONFIG, COGS_CONFIG

{% for extra_import in cog_item.extra_imports %}
{{ extra_import }}
{% endfor %}

# endregion[Imports]

__updated__ = '2020-12-02 19:49:26'

# region [AppUserData]

# endregion [AppUserData]

# region [Logging]

log = glog.aux_logger(__name__)
log.info(glog.imported(__name__))

# endregion[Logging]

# region [Constants]

THIS_FILE_DIR = os.path.abspath(os.path.dirname(__file__))

# endregion[Constants]

class {{ cog_item.name }}(commands.Cog, command_attrs={{% for com_attr_name, com_attr_value in cog_item.all_com_attr %}'{{ com_attr_name }}': {{ com_attr_value }}{% if not loop.last %}, {% endif %}{% endfor %}}):
    config_name = {{ cog_item.config_name }}

    def __init__(self,bot):
        self.bot = bot
        {% for cog_loop in cog_item.all_loops %}
        self.{{ cog_loop.name }}.start()
        {% endfor %}
        log.debug(glog.class_initiated(self))



    def cog_unload(self):
        {% if cog_item.all_loops is defined and cog_item.all_loops|length > 0 %}
        {% for cog_loop in cog_item.all_loops %}
        self.{{ cog_loop.name }}.stop()
        {% endfor %}
        {% else %}
        pass
        {% endif %}

    {% for cog_loop in cog_item.all_loops %}

    {{ cog_loop.code }}

    {% endfor %}

    @commands.Cog.listener(name='on_ready')
    async def extra_cog_setup(self):
        log.info(f"{self} Cog ----> finished extra setup")


    {% for listener in cog_item.all_listeners %}

    {{ listener.code }}

    {% endfor %}

    {% for command in cog_item.all_commands %}

    {{ command.code }}

    {% endfor %}


    @property
    def allowed_channels(self):
        return set(COGS_CONFIG.getlist(self.config_name, 'allowed_channels'))

    def __repr__(self):
        return f"{self.__class__.__name__}({self.bot.user.name})"

    def __str__(self):
        return self.__class__.__name__


# region[Main_Exec]

def setup(bot):
    """
    Mandatory function to add the Cog to the bot.
    """
    bot.add_cog({{ cog_item.name }}(bot))


# endregion[Main_Exec]
