@commands.command()
{% raw %}@ commands.has_any_role(*COGS_CONFIG.getlist('{{ cog_item.config_name }}', 'allowed_roles')){% endraw %}
async def {{ command_item.name }}(self, ctx):
    if ctx.channel.name not in self.allowed_channels:
        return
    pass