


    @commands.command(aliases=get_aliases("{{ command_item.name }}"))
    @allowed_channel_and_allowed_role(config_name=CONFIG_NAME, in_dm_allowed={{ command_item.dm_allowed}})
    {% if command_item.log_invocation.0 %}
    @log_invoker(logger=log, level="{{ command_item.log_invocation.1 }}")
    {% endif %}
    async def {{ command_item.name }}(self, ctx):
        pass